.Search {
  background-color: #C8C8C8;
  max-width: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  margin-top: 20px;
  padding: 15px 30px 15px 30px;
}

.Search-bg {
  background-color: #FC4C00;
  max-width: 900px;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-left: 25%;
  margin-top: -10px;
  border-radius: 0px 0px 20px 20px;
}

:root {
  background-color: #E69953;
}

.cards {
  background-color: #FC4C00;
  max-width: 900px;
  margin-left: 25%;
  margin-top: 30px;
  border-radius: 30px 30px 0px 0px;
  padding-top: 30px;
}

.card {
  margin-left: 40px;
  background-color: #D9D9D9;
  max-width: 800px;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

* {
  font-family: 'Inter', system-ui, sans-serif;
}

.playbtn {
  width: 40px;
  margin-left: auto;
  margin-right: 30px;
}

.player {
  position: fixed;
  bottom: 20px;
  width: 1000px;
  right: 0%;
  transform: translateX(-40%);
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.3);
  background-color: #E69953;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  height: 100px;
}

.player-info {
  flex: 1;
}

.player input[type="range"] {
  width: 100%;
  cursor: pointer;
  accent-color: #E62307;
  border: none;
}

.time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.player button {
  font-size: 20px;
  border: none;
  background: #D9D9D9;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
}


.Card-Image {
  width: 46px;
}

.card-song-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.decoration-left {
  background: linear-gradient(to left, #E67107, #E69953);
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 300px;
}

.decoration-right {
  background: linear-gradient(to right, #E67107, #E69953);
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 300px;
}


.card-text {
  display: flex;
  flex-direction: column;
  gap: -10px;
  width: 100%;
}

.player {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
}

.player .card {
  background-color: #FC4C00;
}
